<h1>myRaya app</h1>
<h3>Bringing Malaysia's best celebrations to you!</h3>

<p>Uniting Malaysia and the rest of the World</p>
<p>Intercultural exchange right at home!</p>
<%= button_to "See Events", events_path, method: :get, class:'btn btn-sm btn-light' %>


