<div class='d-flex justify-content-center align-items-center mt-5'>
    
    <div class="jumbotron col-11 ">
        <h1 class="display-4">Edit Event!</h1>
        <p class="lead">Share the joy of your culture!</p>
        <hr class="my-4">   
        
        <div class='row d-flex justify-content-around '>
            <div class="card card-body col-8 d-flex" >
                <div class="card-group">
                        <h4 class="display-5 col-11 m-auto">Change Event Details</h4>
                        <hr class="my-4 col-11">                       
                        <%= render "form" %>    
                </div>
            </div>
        </div>
    </div>    
</div>


