// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login-container {
    box-shadow: 0 0 2em 0.03em rgb(83, 83, 83);
    max-width: 300px;
    position: relative;
    top: 5em;
}

#login-btn {
    border-color: rgb(234, 95, 140);
    color: rgb(234, 95, 140);
}

#login-btn:hover {
    background-color: rgb(234, 95, 140);
    color: white;
}

