// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#profile-img {
    display: inline-block;
    text-align: center;
}

#profile-pix {
    border: 4px solid white;
    box-shadow: 0 0 1.5px 1.5px rgba(70, 70, 70, .4);
    border-radius: 10em;
}

#profile-thumb {
    border: 2px solid white;
    box-shadow: 0 0 1.5px 1.5px rgba(70, 70, 70, .4);
    // border-radius: 10em;
}

#signup-container {
    box-shadow: 0 0 2em 0.03em rgb(83, 83, 83);
    max-width: 600px;
    position: relative;
    margin-top: 10vh;
}